[user]
	name = YOUR_NAME
	email = YOUR_EMAIL
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
